html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, center, u, b, i {
  margin: 0;
  padding: 0; }

ul, li {
  list-style: none; }

h1, h2, h3, h4, h5, h6, b {
  font-weight: normal; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

html {
  height: 100%; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?spqzu7");
  src: url("../fonts/icomoon.eot?spqzu7#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?spqzu7") format("truetype"), url("../fonts/icomoon.woff?spqzu7") format("woff"), url("../fonts/icomoon.svg?spqzu7#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-close:before {
  content: "\e901"; }

.icon-arrow:before {
  content: "\e900"; }

.icon-next:before {
  content: "\e902"; }

.wrap {
  max-width: 800px;
  height: 100%;
  line-height: 30px;
  padding: 40px 10px 0 10px;
  margin: 0 auto;
  text-align: center; }
  .wrap img {
    display: block;
    width: 100%; }
  .wrap .title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #fff;
    text-align: center;
    font-size: 14px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9; }
    .wrap .title span {
      display: block;
      line-height: 40px;
      font-size: 12px;
      position: absolute;
      top: 0; }
      .wrap .title span#area {
        left: 15px;
        -webkit-tap-highlight-color: transparent; }
      .wrap .title span#filter {
        right: 15px;
        -webkit-tap-highlight-color: transparent; }
  .wrap #countdown {
    width: 95%;
    margin: 10px auto;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #f56423;
    border-radius: 5px;
    box-shadow: 0px 3px 0px #cf4c11; }
  .wrap .more {
    line-height: 30px;
    color: #666;
    font-size: 12px; }
    .wrap .more.none {
      display: none; }

#alertPop {
  display: table;
  font-size: 18px;
  background: #f57423;
  border-radius: 8px;
  box-shadow: 2px 4px 10px rgba(127, 127, 127, 0.5);
  position: fixed;
  left: 50%;
  top: 50%; }
  #alertPop p {
    text-align: center;
    display: table-cell;
    vertical-align: middle; }

#popupAre {
  width: 100%;
  height: 100%;
  background: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: none;
  transform: translate(0, 100%);
  transition: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; }
  #popupAre header {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #3f51b5;
    color: #fff;
    font-size: 14px;
    text-align: center;
    -webkit-tap-highlight-color: transparent; }
    #popupAre header b {
      width: 20px;
      height: 14px;
      padding: 3px 0;
      position: absolute;
      top: 10px;
      color: #fff;
      -webkit-tap-highlight-color: transparent; }
      #popupAre header b#icon_back {
        left: 5px; }
      #popupAre header b#icon_close {
        font-size: 12px;
        right: 8px; }
  #popupAre input {
    display: block;
    width: 80%;
    height: 24px;
    line-height: 24px;
    margin: 10px auto; }
  #popupAre .city_wrap {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto; }
    #popupAre .city_wrap .city_wrap_inner {
      padding-bottom: 40px; }
    #popupAre .city_wrap .m-line-box {
      clear: both;
      height: auto;
      margin-bottom: 10px;
      overflow: hidden;
      width: 100%; }
      #popupAre .city_wrap .m-line-box:last-child {
        margin-bottom: 40px; }
      #popupAre .city_wrap .m-line-box .btn {
        margin-bottom: 0; }
      #popupAre .city_wrap .m-line-box .m-tabs-box {
        position: relative; }
        #popupAre .city_wrap .m-line-box .m-tabs-box ul.m-tabs {
          background: none repeat scroll 0 0 #f3f3f3;
          border-bottom: 2px solid #ddd;
          color: #333;
          font-size: 16px;
          height: 38px;
          padding: 0 0 0 10px; }
          #popupAre .city_wrap .m-line-box .m-tabs-box ul.m-tabs li {
            float: left;
            height: 26px;
            padding: 12px 1px 0;
            position: relative;
            z-index: 1; }
      #popupAre .city_wrap .m-line-box .m-change-city {
        font-size: 14px;
        margin: 8px 0 0 10px;
        overflow: hidden; }
        #popupAre .city_wrap .m-line-box .m-change-city li {
          float: left;
          padding: 8px 0;
          width: 25%; }

.popupFilter {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }
  .popupFilter .bg {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 101; }
  .popupFilter .popupCon {
    width: 76%;
    height: 100%;
    border-left: 1px solid #ddd;
    background: #fff;
    padding: 0 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0;
    transition: right 0.3s;
    z-index: 102;
    display: none; }
    .popupFilter .popupCon h1 {
      width: 100%;
      font-size: 16px;
      line-height: 40px;
      border-bottom: 1px solid #ddd;
      color: #333;
      text-align: center;
      margin-bottom: 5px;
      position: absolute;
      top: 0;
      left: 0; }
      .popupFilter .popupCon h1 span {
        position: absolute;
        font-size: 13px;
        line-height: 40px;
        right: 5;
        color: #333; }
        .popupFilter .popupCon h1 span.sure {
          right: 20px;
          -webkit-tap-highlight-color: transparent; }
        .popupFilter .popupCon h1 span.back {
          display: block;
          width: 8px;
          height: 14px;
          left: 15px;
          top: 13px;
          line-height: 14px;
          font-size: 16px; }
    .popupFilter .popupCon ul {
      width: 100%;
      margin-top: 42px;
      position: absolute;
      left: 0; }
      .popupFilter .popupCon ul li {
        line-height: 43px;
        color: #444;
        font-size: 13px;
        padding: 0 10px;
        border-bottom: 1px solid #ddd; }
        .popupFilter .popupCon ul li span.s1 {
          float: left;
          margin-left: 5px; }
        .popupFilter .popupCon ul li span.s2 {
          float: right;
          margin-right: 5px; }
        .popupFilter .popupCon ul li span b {
          display: inline-block;
          width: 6px;
          height: 10px;
          margin-left: 4px;
          font-size: 10px; }

/*# sourceMappingURL=demo.css.map */
